/* The following file contains custom classes with animations */
.sheetscanner-highlighted {
  padding: 0.2rem;
}

.sheetscanner-highlighted::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid gold;
  animation: clippath 3s infinite linear;
}


.fadein {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes sheetscanner-loader {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 95% 0);
    border: 2px solid rgb(78, 187, 120);
  }
  25% {
    clip-path: inset(0 95% 0 0);
    border: 2px solid rgb(255, 123, 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
    border: 2px solid rgb(250, 248, 252);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
