@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 199, 230, 196; /* Light green */
  --background-end-rgb: 255, 255, 255; /* White */
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 199, 230, 196; /* Light green 
    --background-end-rgb: 255, 255, 255; /* White 
  } */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Sets the min height of the entire application minus the fixed navbar (24px by default) */
.sheetscanner-child-height {
  min-height: calc(100vh - 24px);
}
